html, body {
    overflow: visible !important;
}

div.view-content {
    height: 100% !important;
    padding: 0 !important;
}

.callout.is-collapsible .callout-title {
    cursor: pointer !important;
}

.force-cursor {
    cursor: pointer !important;
}
